<h2>Sign up for a subscription!</h2>

<%= form_for(@user) do |f| %> <!-- but we don't have a user object yet since they are not signed up -->
  <%= f.label :username %> <%= f.text_field :username %><br>
  <%= f.label :email %> <%= f.email_field :email %><br>
  <%= f.label :password %> <%= f.password_field :password %><br>
  <%= f.label :subscription %><br>
  <%= f.collection_select(:subscription_id, Subscription.all, :id, :level) %><br>
  <%= f.submit %>
<% end %>
