

<%= form_for(@user) do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %><br>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %><br>

  <%= f.label :username %>
  <%= f.text_field :username %><br>

  <%= f.label :email %>
  <%= f.email_field :email %><br>

  <h5>Choose the level you want from the drop-down menu</h5>
  <%= f.label :subscription_level %>
  <%= f.collection_select(:subscription_id, Subscription.all, :id, :level) %><br>



  <%= f.submit "Subscribe!" %>
<% end %>
