<h2>Admin list of users</h2>

<% if current_user.try(:admin?) %>
<ol>
  <% @users.each do |user| %>
    <li><strong><%= user.username %></strong></li>
    <%= link_to "Quick view", user_path(user), :class => "js-more-user" %>
    <div id="information">
      <span id="user-<%= user.id %>"></span>
      <span id="boxes"></span>
    </div>
  <% end %>
</ol>


<p><%= link_to "Go back", boxes_path %></p>
<% else %>
<p>You are not authorized to view this page.</p>
<p><%= link_to "Go back", boxes_path %></p>
<% end %>
