<% if user_signed_in? %>
  <p>You've already signed up!</p>
  <p><%= link_to "Back", root_path %>

<% else %>

  <h2>SIGN UP</h2>

  <%= form_for(@user) do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %><br>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %><br>

    <%= f.label :username %>
    <%= f.text_field :username %><br>

    <%= f.label :email %>
    <%= f.email_field :email %><br>

    <%= f.label :password %>
    <%= f.password_field :password %><br>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %><br>

    <%= f.label :subscription_level %>
    <%= f.collection_select(:subscription_id, Subscription.all, :id, :level) %><br>

    <%= f.label :role %>
    <%= f.select :role, ["subscriber"] %><br>

    <%= f.submit %>
  <% end %>

<% end %>
