
    <%= @user.first_name %> <%= @user.last_name %><br>
    Email: <%= @user.email %><br>
    Username: <%= @user.username %><br>
    Subscription: <%= @user.subscription.level %><br>
    Description: <%= @user.subscription.description %><br>
    Role: <%= @user.role %><br>
    Boxes: <% @user.boxes.where("updated_at > ?", @user.created_at).find_each do |box| %>
              <li><%= box.title %>, <%= box.created_at.strftime("%m/%d/%y") %></li>
          <% end %><br>
    Joined at: <%= @user.created_at.to_s(:long) %>

  <p>
  <p>
    <% if current_user.id == @user.id %>
      <%= link_to "Want to cancel?", edit_user_registration_path %><br>
      <%= link_to "Go back", root_path %><br>
    <% elsif current_user.try(:admin?) %>
      <%= link_to "Go back", users_path %>
    <% end %>
  </p>
