<%= @user.first_name %> <%= @user.last_name %><br>
Email: <%= @user.email %><br>
Username: <%= @user.username %><br>
Subscription: <%= @user.subscription.level %><br>
Description: <%= @user.subscription.description %><br>
Role: <%= @user.role %><br>

<p>
  <%= link_to "Back", root_path %>
</p>
