<h2>Ship this box!</h2>
<h4>Confirm the details below then click to ship!</h4>
Box name: <%= @box.title %><br>
This box contains the following:<br>
<% @box.items.each do |item| %>
  <li><%= item.title %> <%= link_to "delete", [@box, item], :method => :delete %>
      <%= link_to "edit", edit_box_item_path(@box, item) %></li>
<% end %>

<% if current_user.try(:admin?) %>

  <h2>Do you need to make corrections to this box?</h2>

    <%= form_for(@box) do |f| %>
      <%= f.submit "Ship This Box" %> (Note: Shipping is final and cannot be undone)
    <% end %>

  <% else %>
    <p>You are not authorized to view this page.</p>
    <p><%= link_to "Go back", subscriptions_path %></p>
<% end %>
