<h3><%= @box.title %></h3>
Created on: <%= @box.created_at.strftime("%m/%d/%y") %><br>
Subscription Level: <%= @box.subscription.level %><br>
Shipped On: <%= @box.updated_at.strftime("%m/%d/%y") %><br>


<!-- This is the list of items: -->
<!-- put back contents of 'untitled' here -->


<!-- This is where the item details are listed -->
<div class="items">
  <%= render 'items/items' %>
</div>


<p>
  <% if !@box.shipped %>
    <% if current_user.try(:admin?) %>
      <h2>Add an item to this box</h2>

        <%= form_for([@box, @item]) do |f| %>

        <%= render "shared/error_messages", :target => @item %>

        <div class="field">
          <%= f.label :item_name %>
          <%= f.text_field :title %><br>
        </div>

        <div class="field">
          <%= f.label :item_description %>
          <%= f.text_area :description %><br>
        </div>

        <div class="field">
          <%= f.label :size %>
          <%= f.text_field :size %><br>
        </div>

        <div class="field">
          <%= f.label :photo %>
          <%= f.file_field :photo %><br>
        </div>

          <%= f.submit "Add Item" %>
        <% end %><!-- end of form_for -->

      <% else %>
        <p>You are not authorized to view this page.</p>
        <p><%= link_to "Go back", boxes_path %></p>
      <% end %><!-- end of current user try -->

      <p>
        <mark>**This box has not yet been shipped.**</mark> - <%= link_to "Ready to ship?", edit_box_path %>
      </p>
  <% end %><!-- end of if box.shipped statement -->
</p>

<p>
  <h5><%= link_to "Back to boxes", boxes_path %></h5>
  <h5><%= link_to 'Next', @box.next if @box.next %></h5>
</p>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $("a.load_items").on("click", function(e) {
      $.ajax({
        method: "GET",
        url: this.href
      }).done(function(response) {
        $("div.items").html(response);
      });
      e.preventDefault();
    }); // end of load items click function

    $('form').on('submit', function(e) {
      e.preventDefault();
      // the URL to submit the form data
      url = this.action

      // the form data
      data = {
        'authenticity_token': $("input[name='authenticity_token']").val(),
        'item': {
          'title': $("#item_title").val(),
          'description': $("#item_description").val(),
          'size': $("#item_size").val()
        }
      }

      // low level ajax
      $.ajax({
        type: "POST",
        url: url,
        data: data,
        success: function(response) {
          console.log(response)
          var $ol = $("div.items ol")
          $ol.append(response);
        }
      });


    });

  }); // end of document ready

</script>
