<h3><%= @box.title %></h3>
<p><%= @box.date_of_box %></p>
<p>Subscription Level: <%= @box.subscription.level %></p>
<ul><strong>ITEMS:</strong>
  <% @box.items.each do |item| %>
    <li><%= item.title %> : <%= item.description %> (size: <%= item.size %>)</li>
  <% end %>
</ul>

<p><%= link_to "See box detail", box_items_path(@box) %></p>
<p><%= link_to "Back to boxes", boxes_path %></p>

<% if current_user.try(:admin?) %>
  <p><%= render 'items/form' %><p>
<% end %>
