<h3><%= @box.title %></h3>
<p><%= @box.date_of_box %></p>
<p>Subscription Level: <%= @box.subscription.level %></p>
<ul><strong>ITEMS:</strong>
  <% @box.items.each do |item| %>
    <li><%= item.title %> : <%= item.description %> (size: <%= item.size %>)</li>
  <% end %>
</ul>

<h5><%= link_to "See box detail", box_items_path(@box) %></h5>
<h5><%= link_to "Back to boxes", boxes_path %></h5>


<% if !@box.shipped %>
  <% if current_user.try(:admin?) %>
    <p><%= render 'items/form' %><p>
    <p><%= link_to "Ready to ship?", edit_box_path %></p>
  <% end %>
<% end %>
