<div class="container-">
  <h1 class="display-4 text-xs-center m-y-3 text-muted">Subscriptions</h1>
        <ul class="list-group">
          <% @subscriptions.each do |subscription| %>
          <li class="list-group-item">
            <h4 class="list-group-item-heading"><%= subscription.level %> </h4>
            <div id="subscription-<%= subscription.id %>"></div>
            <button class="js-more" data-id="<%= subscription.id %>">More Info</button>
            <div id="subscription-<%= subscription.id %>-level"></div>
          </li>
          <% end %>

          <li class="list-group-item">
            <h4 class="list-group-item-heading">
              <% if current_user.try(:subscriber?) %>
                <%= link_to "Visit your profile", user_path(current_user) %>
              <% else %>
                <h5>Menu: </h5>
              <% end %>
            </h4>
          </li>

          <li class="list-group-item">
            <h4 class="list-group-item-heading">
              <%= link_to "See our boxes", boxes_path %>
            </h4>
          </li>

          <% if current_user.try(:admin?) %>
            <li class="list-group-item">
              <h4 class="list-group-item-heading">
                <%= link_to "See user information", users_path %>
              </h4>
            </li>

            <li class="list-group-item">
              <h4 class="list-group-item-heading">
                <%= link_to "Create a new box", new_box_path %>
              </h4>
            </li>
          <% end %>

        </ul>

</div><!-- end container -->

<script type="text/javascript" charset="UTF-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("/subscriptions/" + id + ".json", function(data) {
      var descriptionText = "<p>" + data["description"] + "</p>";
      $("#subscription-" + data["id"]).html(descriptionText);
    });
  });
});
</script>
