<% if current_user.try(:admin?) %>
  <h2>Add an item to this box</h2>

  <h4><%= @box.title %></h4>

    <%= form_for([@box, @box.items.build]) do |f| %>
    <%= render "shared/error_messages", :target => @item %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %><br>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %><br>
    </div>

    <div class="field">
      <%= f.label :size %>
      <%= f.text_field :size %><br>
    </div>

      <%= f.submit "Add Item" %>
    <% end %>

  <% else %>

  <p>You are not authorized to view this page.</p>
  <p><%= link_to "Go back", boxes_path %></p>

  <% end %>
