<p>
  <ol><strong>ITEMS:</strong> (<%= link_to "See item details", box_items_path(@box), :class => "load_items" %>)
    <% @box.items.each do |item| %>
      <li><%= item.title %> : <%= item.description %> (size: <%= item.size %>) | <%= link_to "edit", edit_box_item_path(@box, item) %> | <%= link_to "delete", [@box, item], :method => :delete %> Note: deleting is final!
       <div id="item-<%= item.id %>"> <% if item.url %> <%= link_to item.url, "http://#{item.url}", target: "_blank" %> <% end %></div>
      </li>
    <% end %>
  </ol>
</p>
<!-- this is where the new item gets rendered -->
