<h5><%= @item.title %></h5>
<%= @item.description %>


<% if current_user.try(:admin?) %>
<h2>Edit this item</h2>
  <%= form_for [@box, @item], :html => { :multipart => true } do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br>

    <%= f.label :description %>
    <%= f.text_area :description %><br>

    <%= f.submit %>
  <% end %>


<% end %>
