<h5><%= @item.title %></h5>
<%= @item.description %>

<p id="edited">
Here is what you edited:
<div id="item-info-<%= @item.id %>"></div>
</p>

<% if current_user.try(:admin?) %>
<h2>Edit this item</h2>
  <%= form_for [@box, @item], html: { multipart: true } do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br>

    <%= f.label :description %>
    <%= f.text_area :description %><br>

    <%= f.label :size %>
    <%= f.text_area :size %><br>

    <%= f.label :url %>
    <%= f.text_area :url %><br>

    <%= f.label :photo %>
    <%= f.file_field :photo %><br>

    <%= f.submit %>
  <% end %>
<% end %>


<!-- <script type="text/javascript" charset="utf-8">
  function Item(id, title, description, size, url) {
    this.id = id;
    this.title = title;
    this.description = description;
    this.size = size;
    this.url = url;
  }

  Item.prototype.urlFormatting = function () {
    var originalUrl = $("#item_url").val();
    if(originalUrl.includes("http") == true) {
      return originalUrl;
    } else if(originalUrl.includes("www") == true) {
      return "http://" + originalUrl;
    } else {
      return "http://www." + originalUrl;
    }
  }

  $(function() {
    $("#edited").hide();
    $('form').on("submit", function(e) {
      $("#edited").show();
      e.preventDefault();
      data = $(this).serialize();
      var url = this.action
      $.get(url + ".json").success(function(response) {

        var itemDiv = $('#item-info-' + response["id"]);

        var newItemInfo = new Item(
          $("#item_title").val(),
          $("#item_description").val(),
          $("#item_size").val(),
          $("#item_url").val()
        );

        $(itemDiv).html("New URL" + ' ' + newItemInfo.urlFormatting());
      });
    });
  });
</script> -->
