<h2>Box Items</h2>

<ul>
  <% @box.items.each do |item| %>
    <li><strong><u><%= link_to item.title, box_item_path(@box, item) %></strong></u></li>
    <li>Description: <%= item.description %></li>
    <li>Size: <%= item.size %></li>
    <li>URL: <%= item.url %></li>
  <% end %>
</ul>


<p><%= link_to "Go back", :back %></p>
