<h2>Box Items</h2>

<ul>
  <% @box.items.each do |item| %>
    <li><strong><u><%= item.title %></strong></u></li>
    <li>Description: <%= item.description %></li>
    <li>Size: <%= item.size %></li>
  <% end %>
</ul>

<% if current_user.try(:admin?) %>
  <% if !@box.shipped %>
    <p><%= link_to "Add a new item to this box", new_box_item_path(@box) %></p>
  <% end %>
<% end %>
<p><%= link_to "Go back", boxes_path %></p>
