<!-- this is what's being displayed when user hits submit -->
<li><%= @item.title %> : <%= @item.description %> size: (<%= @item.size %>) | <%= link_to @item.url %></li>

<%= link_to "Back", :back %>
